.allWrap{
    display:none;
}
.navWrap{
    width:100%;
    height:40px;
    background:#cac9c9 url("http://www.5lux.com/vendor/images/v30/navi_1pxbg.png") repeat-x;
    
}
.navWrap .nav{
    height: 40px;
    width: 1210px;
    margin: 0 auto;
    position: relative;
}
.nav .navlist{
    width:950px;
    height:38px;
    float:left;
}
.navlist>li{
    float:left;
    height:38px;
    line-height:40px;
    width:82px;
    text-align: center;
}
.navlist>li a{
    color:#c8a985;
}
.navlist>li a:hover{
    color:white;
}
.navlist .sortclass{
    width:130px;
    background: #cf0101;
    color:white;
    font-weight: bold;
    cursor:pointer;
    position: relative;
}
.navlist .lilast{
    width:82px;
    text-align: center;
}
.navlist .lilast a{
    float:left;
}
.navlist .lilast a span{
    float:left;
    width:19px;
    height:26px;
    background: url(../img/share02.png) no-repeat -58px -176px;
    margin-left:10px;
    margin-top:7px;
    margin-right:5px;
}
.navlist .lilast a:hover span{
    background: url(../img/share02.png) no-repeat -366px -259px;
}
.nav .slidelist{
    float:right;
    height:38px;
}
.nav .slidelist li{
    width:42px;
    height:38px;
    float:left;
    line-height:38px;
    color:white;
    overflow: hidden;
    cursor:pointer;
}
.nav .slidelist li span{
    float:left;
    width:28px;
    height:38px;
    margin-right:10px;
}
.slidelist .slideleft span{
    background: url(../img/share02.png) no-repeat -238px -66px;
}
.slidelist .slidecenter span{
    background: url(../img/share02.png) no-repeat -298px -66px;
}
.slidelist .slideright span{
    background: url(../img/share02.png) no-repeat -356px -66px;
}
$abso:absolute;
$selectW:130px;
$selectH:540px;
.selectbac{
    position: $abso;
    left:0px;
    top:40px;
    width:$selectW;
    height:$selectH;
    background: white;
    opacity:0.8;
    filter:alpha(opacity=80);
    z-index:100;
    display:none;
}
.selectlist{
    display:none;
    position: $abso;
    left:0;
    top:40px;
    width:$selectW;
    height:$selectH;
    z-index:100;
    li{
        height:36px;
        color:#1c1a1a;
        line-height:36px;
        text-align: center;
        position: relative;
        span{
            float:right;
            width:8px;
            height:16px;
            background: url(../img/share02.png) no-repeat -308px -41px;
            position: $abso;
            top:11px;
            right:11px;
            display:none;
        }
    }
    li:nth-of-type(1){
        background: url(../img/brand_category1.png) no-repeat -5px -1px;
    }
    li:nth-of-type(2){
        background: url(../img/brand_category1.png) no-repeat -5px -34px;
    }
     li:nth-of-type(3){
        background: url(../img/brand_category1.png) no-repeat -5px -66px;
    }
    li:nth-of-type(4){
        background: url(../img/brand_category1.png) no-repeat -5px -98px;
    }
     li:nth-of-type(5){
        background: url(../img/brand_category1.png) no-repeat -5px -130px;
    }
    li:nth-of-type(6){
        background: url(../img/brand_category1.png) no-repeat -5px -162px;
    }
     li:nth-of-type(7){
        background: url(../img/brand_category1.png) no-repeat -5px -194px;
    }
    li:nth-of-type(8){
        background: url(../img/brand_category1.png) no-repeat -5px -226px;
    }
     li:nth-of-type(9){
        background: url(../img/brand_category1.png) no-repeat -5px -258px;
    }
    li:nth-of-type(10){
        background: url(../img/brand_category1.png) no-repeat -5px -290px;
    }
     li:nth-of-type(11){
        background: url(../img/brand_category1.png) no-repeat -5px -322px;
    }
    li:nth-of-type(12){
        background: url(../img/brand_category1.png) no-repeat -5px -355px;
    }
     li:nth-of-type(13){
        background: url(../img/brand_category1.png) no-repeat -5px -388px;
    }
    li:nth-of-type(14){
        background: url(../img/brand_category1.png) no-repeat -5px -420px;
    }
     li:nth-of-type(15){
        background: url(../img/brand_category1.png) no-repeat -5px -456px;
    }
   li:hover{
       background-color:white;
       background-image: url(../img/brand_category2.png) ;
       color:#c69c6d;
       span{
           display:block;
       }
   }
}
.picWrap{
    width:100%;
    height:520px;
    position: relative;
    overflow: hidden;

    .picbox{
        height:520px;
        position:absolute;
        left:0px;
        top:0px;
        .imgbox{
            float:left;
            height:520px;
            position:relative;
            overflow: hidden;
            .bigpic{
                width:1440px;
                height:520px;
                position: absolute;
                top:0px;
            }
        }
    }
    .prev{
        width:30px;
        height:50px;
        position: absolute;
        left:100px;
        top:235px;
        z-index:80;
        background: url(../img/templateleft.png);
        cursor:pointer;
    }
    .next{
        width:30px;
        height:50px;
        position: absolute;
        right:100px;
        top:235px;
        z-index:80;
        background: url(../img/templateright.png);
        cursor:pointer;
    }
    .btnlist{
        height:16px;
        position:absolute;
        z-index:80;
        top:460px;
        li{
            width:14px;
            height:14px;
            float:left;
            border-radius:50%;
            margin-left:16px;
            background: white;
        }
    }
    
}
.banner{
    width:1210px;
    margin:0 auto;
    .bannerbrand{
        width:100%;
        h2{
            height:120px;
            width:100%;
            img{
                width:100%;
                height:56px;
                float:left;
                margin-top:32px;
            }
        }
        .brandlist{
            width:100%;
            height:330px;
            li{
                width:234px;
                height:330px;
                float:left;
                position: relative;
                margin-right:10px;
                overflow: hidden;
                .brandbac{
                    width:100%;
                    height:100%;
                }
                .brandbox{
                    width:174px;
                    height:165px;
                    background: white;
                    position: absolute;
                    left:30px;
                    bottom: -110px;
                    img{
                        display:block;
                        height:30px;
                        margin:10px auto 4px;
                    }
                    .p1{
                        width:20px;
                        height:2px;
                        background: black;
                        margin:0 auto;
                    }
                    .p2{
                        height:20px;
                        line-height:20px;
                        text-align: center;
                        margin-top:20px;
                    }
                    .p3{
                        height:20px;
                        line-height:20px;
                        text-align: center;
                    }
                }
            }
            li:nth-of-type(5){
                margin-right:0;
            }
        }
    }
    .bannerhot{
        width:1210px;
        height:238px;
        position: relative;
        overflow: hidden;
        h2{
            height:60px;
            img{
                height:60px;
                float:left;
            }
            .hotbtn{
                height:60px;
                float:right;
                span{
                    float:left;
                    font-size:20px;
                    width:30px;
                    text-align: center;
                    height:60px;
                    line-height:60px;
                    cursor:pointer;
                }
                
            }
        }
        .hotlistwrap{
            width:3630px;
            height:178px;
            position: absolute;
            left:0px;
            top:60px;
            ul{
                width:1210px;
                height:178px;
                float:left;
                overflow: hidden;
                li{
                    width:165px;
                    height:83px;
                    border:1px solid #dfdfdf;
                    float:left;
                   margin-bottom: 8px;
                   margin-right:6px;
                   position: relative;
                  .imgwrap{
                      width:100%;
                      height:100%;
                      text-align: center;
                      img{
                          width:108px;
                          vertical-align: middle;
                      }
                      span{
                          display:inline-block;
                          width:0;
                          height:100%;
                          vertical-align: middle;
                      }
                  }
                  .lefttop{
                      width:0px;
                      height:1px;
                      background: black;
                      position: absolute;
                      left:-1px;
                      top:-1px;
                  }
                  .leftleft{
                      width:1px;
                      height:0px;
                      background: black;
                      position: absolute;
                      left:-1px;
                      top:-1px;
                  }
                  .rightright{
                      width:1px;
                      height:0px;
                      background: black;
                      position: absolute;
                      bottom:-1px;
                      right:-1px;
                  }
                  .rightbottom{
                      width:0px;
                      height:1px;
                      background: black;
                      position: absolute;
                      bottom:-1px;
                      right:-1px;
                  }
                  .licover{
                      width:100%;
                      height:100%;
                      position: absolute;
                      top:0px;
                      left:0px;
                      display: none;
                  }
                  .p1{
                      width:100%;
                      font-size:16px;
                      height:30px;
                      line-height: 30px;
                      float:left;
                      margin-top:20px;
                      text-align: center;
                      a{
                          color:#030000;
                      }
                      a:hover{
                          color:#c69c6d;
                      }
                  }
                  .p2{
                      width:20px;
                      height:2px;
                      background:#030000;
                      margin-left:73px;
                      float:left;
                  }
                }
                li:nth-of-type(7){
                    margin-right:0;
                }
                li:nth-of-type(14){
                     margin-right:0;
                }
            }
        }
    }
    .bannermall{
        width:1210px;
        h2{
            width:1210px;
            height:112px;
            img{
                width:100%;
                height:100%;
            }
        }
        .mallmenu{
            width:1210px;
            height:30px;
            li{
                width:398px;
                height:30px;
                float:left;
                text-align: center;
                line-height: 30px;
                background: #999999;
                color:white;
                margin-right:8px;
                cursor: pointer;
            }
            .lileft{
                 background: black;
            }
            .liright{
                margin-right:0;
            }
        }
        .mallbox{
            height:517px;
            width:1210px;
            margin-top:15px;
            position: relative;
            overflow: hidden;
            .malllist{
                width:3630px;
                height:517px;
                position: absolute;
                left:0px;
                top:0px;
                .mallleft{
                    width:1210px;
                    height:517px;
                    float:left;
                    overflow: hidden;
                    .left{
                        width:368px;
                        height:517px;
                        overflow: hidden;
                        float:left;
                        margin-right:9px;
                        img{
                            width:100%;
                            height:100%;
                          transition: all 0.5s;
                        }
                        img:hover{
                            transform: scale(1.1);
                        }
                    }
                    .right{
                        width:833px;
                        height:517px;
                        float:left;
                        .righttop{
                            height:258px;
                            width:833px;
                            .div1{
                                width:222px;
                                height:248px;
                                border:1px solid #cccccc;
                                overflow: hidden;
                                position: relative;
                                float:left;
                                div{
                                    height:72px;
                                    width:100%;
                                    position: absolute;
                                    left:0px;
                                    top:0px;
                                    p{
                                        height:24px;
                                        line-height:24px;
                                        text-align: center;
                                    }
                                }
                                img{
                                    width:150px;
                                    position: absolute;
                                    left:36px;
                                    top:72px;
                                }
                            }
                            .div2{
                                width:367px;
                                height:248px;
                                float:left;
                                border:1px solid #CCCCCC;
                                overflow: hidden;
                                position: relative;
                                margin:0 7px;
                                div{
                                    height:72px;
                                    width:220px;
                                    position: absolute;
                                    left:0px;
                                    top:10px;
                                    p{
                                        height:24px;
                                        line-height:24px;
                                        text-align: center;
                                    }
                                }
                                img{
                                    position: absolute;
                                    width:180px;
                                    height:180px;
                                    top:20px;
                                    right:20px;
                                }
                            }
                        }
                        .rightbottoms{
                            width:833px;
                            height:259px;
                            .div3{
                                width:271px;
                                height:255px;
                                float:left;
                                border:1px solid #CCCCCC;
                                overflow: hidden;
                                position: relative;
                                margin-right:7px;
                                 div{
                                    width:100%;
                                    position: absolute;
                                    left:0px;
                                    top:0px;
                                    p{
                                        height:24px;
                                        line-height:24px;
                                        text-align: center;
                                    }
                                }
                                img{
                                    position: absolute;
                                    width:150px;
                                    top:72px;
                                    left:60px;
                                }
                            }
                            .nomargin{
                                margin-right:0;
                            }
                        }
                    }
                }
                .mallright{
                    width:1210px;
                    height:517px;
                    float:left;
                    .picleft{
                        width:400px;
                        height:517px;
                        float:left;
                        position: relative;
                        overflow: hidden;
                        img{
                            width:100%;
                            height:100%;
                        }
                        .mallpiccover{
                            width:100%;
                            height:100%;
                            background: rgba(0,0,0,0.4);
                            position: absolute;
                            top:0px;
                            left:-1px;
                            border-left:1px solid white;
                            border-right: 1px solid white;
                            transition: all 0.6s;
                            transform: rotateY(90deg);
                            .coverbox{
                                color:white;
                                width:250px;
                                height:130px;
                                border:1px solid white;
                                position: absolute;
                                left:0px;
                                top:0px;
                                right:0px;
                                bottom: 0px;
                                margin:auto;
                                .p1{
                                    height:30px;
                                    line-height:30px;
                                    font-size:16px;
                                    text-align: center;
                                }
                                .p3{
                                    width:20px;
                                    height:2px;
                                    background: white;
                                    margin:5px auto;
                                }
                                .p4{
                                    height:24px;
                                    font-size:14px;
                                    line-height:24px;
                                    text-align: center;
                                }
                            }
                        }
                        
                    }
                    .picleft:hover .mallpiccover{
                        transform: rotateY(0deg);
                    }
                    .picright{
                        width:810px;
                        height:517px;
                        float:left;
                        overflow: hidden;
                        .imgb{
                            width:398px;
                            height:255px;
                            float:left;
                            margin-left:7px;
                            margin-bottom: 8px;
                            position: relative;
                            img{
                                width:100%;
                                height:100%;
                            }
                             .mallpiccover{
                            width:100%;
                            height:100%;
                            background: rgba(0,0,0,0.4);
                            position: absolute;
                            top:0px;
                            left:-1px;
                            border-left:1px solid white;
                            border-right: 1px solid white;
                            transition: all 0.6s;
                            transform: rotateY(90deg);
                            .coverbox{
                                color:white;
                                width:250px;
                                height:130px;
                                border:1px solid white;
                                position: absolute;
                                left:0px;
                                top:0px;
                                right:0px;
                                bottom: 0px;
                                margin:auto;
                                .p1{
                                    height:30px;
                                    line-height:30px;
                                    font-size:16px;
                                    text-align: center;
                                }
                                .p3{
                                    width:20px;
                                    height:2px;
                                    background: white;
                                    margin:5px auto;
                                }
                                .p4{
                                    height:24px;
                                    font-size:14px;
                                    line-height:24px;
                                    text-align: center;
                                }
                            }
                        }
                        }
                    }
                    .picright .imgb:hover .mallpiccover{
                        transform: rotateY(0deg);
                    }
                }
            }
        }
    }
    .shopcenter{
        width:1210px;
        h2{
            width:1210px;
            height:120px;
            img{
                width:100%;
                height:100%;
            }
        }
        .shopcenterlist{
            width:1210px;
            height:50px;
            li{
                width:234px;
                height:50px;
                float:left;
                overflow: hidden;
                margin-right:8px;
                position: relative;
                cursor: pointer;
                .dswrap{
                    width:234px;
                    height:100px;
                    position: absolute;
                    left:0px;
                    top:0px;
                    line-height:50px;
                    text-align: center;
                    font-size:14px;
                    color:white;
                    .div1{
                        background: #999999;
                        height:50px;
                    }
                    .div2{
                        background: black;
                        height:50px;
                        p{
                            float:left;
                            width:222px;
                            height:38px;
                            border:1px solid white;
                            line-height:38px;
                           margin:5px 0 0 5px;
                        }
                    }
                }
            }
        }
    }
    .shopcenterbox{
        width:1210px;
        height:auto;
    .classicbags{
        width:1210px;
        height:432px;
        h3{
            width:1210px;
            height:60px;
            float:left;
            img{
                height:60px;
                float:left;
            }
            span{
                height:60px;
                line-height:60px;
                float:right;
            }
        }
        .bagsmenu{
            width:238px;
            height:370px;
            float:left;
            overflow:hidden;
            border:1px solid #cccccc;
            .bagmenulist{
                width:220px;
                height:192px;
                margin:5px auto 0;
                overflow: hidden;
                border-bottom:1px dashed #d4d4d4;
                li{
                    width:110px;
                    height:35px;
                    line-height:34px;
                    float:left;
                    font-size:14px;
                    a{
                        color:#666666;
                    }
                    a:hover{
                        color:#c69c6d;
                    }
                }
            }
            .bagslogo{
                width:220px;
                height:172px;
                margin:0 auto;
                overflow: hidden;
                position: relative;
                .bagslogolist{
                    width:880px;
                    height:112px;
                    position: absolute;
                    left:0px;
                    top:3px;
                    li{
                        width:110px;
                        height:56px;
                        float:left;
                        overflow: hidden;
                        img{
                            width:88px;
                            margin:5px auto 0;
                        }
                    }
                }
                .btnbox{
                    width:220px;
                    height:57px;
                    font-size:20px;
                    position: absolute;
                    top:115px;
                    left:0px;
                    overflow: hidden;
                    .btnlist{
                        width:60px;
                        height:9px;
                        position: absolute;
                        left:80px;
                        top:28px;
                        li{
                            width:9px;
                            height:9px;
                            float:left;
                            margin: 0 5px;
                            border-radius: 50%;
                            background: #666666;
                            cursor: pointer;
                        }
                        li:nth-of-type(1){
                            background: #c77f40;
                        }
                    }
                    .prevleft{
                        display:inline-block;
                        width:20px;
                        height:20px;
                        position:absolute;
                        top:18px;
                        left:60px;
                        cursor: pointer;
                    }
                    .nextright{
                        display:inline-block;
                        width:20px;
                        height:20px;
                        position:absolute;
                        top:18px;
                        right:60px;
                        cursor: pointer;
                    }
                }
            }
        }
        .bagscenter{
            width:390px;
            height:370px;
            border:1px solid #cccccc;
            float:left;
            margin-left:8px;
            margin-right:8px;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
            }
        }
        .bagsright{
            width:562px;
            height:370px;
            float:left;
            overflow: hidden;
            .bagbox{
                width:276px;
                height:180px;
                border:1px solid #CCCCCC;
                float:left;
                margin-right:6px;
                margin-bottom: 6px;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .bagbox:nth-of-type(2){
                margin-right:0;
            }
            .bagbox:nth-of-type(4){
                margin-right:0;
            }
        }
    }
    }
    .promotion{
        width:1210px;
        h2{
            width:1210px;
            height:120px;
        }
        .promotionbox1{
            width:1210px;
            height:305px;
            overflow: hidden;
            .div1{
                float:left;
                width:597px;
                height:293px;
                margin-right:12px;
                img{
                    
                    width:100%;
                    height:100%;
                }
            }
            .div2{
                width:292px;
                height:293px;
                float:left;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .mar{
                margin-right:12px;
            }
            .dblmar{
                margin:0 12px;
            }
            .nomar{
                margin-right:0;
            }
        }
        .promotionbox3{
            height:196px;
            width:1210px;
            .promolist{
                width:612px;
                height:138px;
                float:left;
                overflow: hidden;
                li{
                    width:192px;
                    height:63px;
                    border:1px solid #cccccc;
                    float:left;
                    margin-right: 9px;
                    margin-bottom: 8px;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
            .listrightbox{
                width:597px;
                height:138px;
                float:left;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}
.footerWrap{
    width:100%;
}
