.foot {
  width: 100%;
  height: 605px;
  border-top: 1px solid #c9c9c9;
  background: url("http://img.5lux.com.cn/vendor/images/v30/footer_message_bg.jpg") no-repeat left bottom;
}
.foot .changeours {
  width: 1210px;
  height: 116px;
  border-bottom: 1px solid #c9c9c9;
  margin: 0 auto;
}
.foot .changeours ul {
  width: 1210px;
  height: 64px;
  padding-top: 26px;
}
.foot .changeours ul li {
  width: 242px;
  height: 64px;
  float: left;
}
.foot .changeours ul li .p1 {
  height: 32px;
  line-height: 38px;
  text-indent: 70px;
  color: black;
}
.foot .changeours ul li .p2 {
  height: 14px;
  line-height: 14px;
  text-indent: 70px;
}
.foot .changeours ul li:nth-of-type(1) {
  background: url("http://www.5lux.com/vendor/images/v30/footer_message01.jpg") no-repeat 0px 0px;
}
.foot .changeours ul li:nth-of-type(2) {
  background: url("http://www.5lux.com/vendor/images/v30/footer_message02.jpg") no-repeat 0px 0px;
}
.foot .changeours ul li:nth-of-type(3) {
  background: url("http://www.5lux.com/vendor/images/v30/footer_message03.jpg") no-repeat 0px 0px;
}
.foot .changeours ul li:nth-of-type(4) {
  background: url("http://www.5lux.com/vendor/images/v30/footer_message04.jpg") no-repeat 0px 0px;
}
.foot .changeours ul li:nth-of-type(5) {
  background: url("http://www.5lux.com/vendor/images/v30/footer_message05.jpg") no-repeat 0px 0px;
}
.foot .allways {
  width: 1210px;
  margin: 0 auto;
  height: 285px;
}
.foot .allways ul {
  width: 184px;
  float: left;
}
.foot .allways ul p {
  height: 64px;
  line-height: 64px;
  font-weight: bold;
  color: black;
  text-indent: 14px;
}
.foot .allways ul li {
  height: 24px;
  line-height: 24px;
  text-indent: 14px;
}
.foot .allways ul li a:hover {
  color: #c69c6d;
}
.foot .allways .code {
  float: left;
  width: 140px;
}
.foot .allways .code p {
  height: 64px;
  line-height: 64px;
  font-weight: bold;
  color: black;
  text-indent: 14px;
}
.foot .allways .code img {
  width: 79px;
  height: 79px;
  margin-left: 14px;
}
.foot .footerinfo {
  height: 200px;
  width: 1210px;
  margin: 0 auto;
}
.foot .footerinfo .infolist1 {
  height: 64px;
  width: 370px;
  margin: 0 auto;
}
.foot .footerinfo .infolist1 li {
  height: 12px;
  line-height: 12px;
  padding: 0 9px;
  float: left;
  margin-top: 26px;
  border-right: 2px solid white;
}
.foot .footerinfo .infolist1 li a {
  color: white;
  font-weight: bold;
}
.foot .footerinfo .infolist1 .noborder {
  border-right: 0;
}
.foot .footerinfo .infolist2 {
  height: 26px;
  width: 816px;
  margin: 0 auto;
}
.foot .footerinfo .infolist2 li {
  float: left;
  height: 12px;
  line-height: 12px;
  border-right: 2px solid white;
  margin-top: 7px;
  padding: 0 9px;
}
.foot .footerinfo .infolist2 li a {
  color: white;
}
.foot .footerinfo .infolist2 .noborder {
  border-right: 0;
}
.foot .footerinfo .div1 {
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.foot .footerinfo .div2 {
  text-align: center;
  padding-top: 20px;
}
.foot .footerinfo .div2 img {
  margin: 0 2px;
}
